@if (loading()) {
<mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
} @else{
<mat-list>
    @for (contact of contactsResource.value(); track contact.id) {
    <mat-list-item>
        <h3 matListItemTitle>{{ contact.name }}</h3>
        <p matListItemLine>{{ contact.email }}</p>
        <div matListItemMeta>
            <button mat-icon-button [routerLink]="['/edit', contact.id]">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteContact(contact.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-list-item>
    }
</mat-list>
}